form {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	> * + * {
		margin-left: 1em;
	}
}

input {
	padding: .6em 0 .6em .6em;
	font-size: 1em;
}

input[type=number] {
	width: 10em;
}

button {
	font-family: inherit;
	font-size: 1em;
	padding: .5em 1em;
}

