:root {
	font-family: 'Sniglet', cursive;
	font-size: calc(1rem + .2vw);
}

h1 {
	font-size: 3rem;
}

input {
	padding: .5em .2em;
}

button {
	font-family: inherit;
}

thead {
	border-bottom: 1px solid black;
}

td, th {
	padding: .5em;
}

.container {
	padding: 1em 2em;
	height: 100vh;
}

.stack > * + * {
	margin-top: 3em;
}
